{
  "root": true,
  "extends": ["@react-native-community", "prettier"],
  "plugins": ["import"],
  "rules": {
    "no-await-in-loop": 2,
    "import/no-unresolved": 0,
    "no-underscore-dangle": 0,
    "react/prop-types": 2
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "constants": "./src/constants",
          "features": "./src/features",
          "services": "./src/services",
          "state": "./src/state",
          "storybook": "./src/storybook",
          "theme": "./src/theme",
          "utils": "./src/utils"
        },
        "extensions": [".js", ".native.js"]
      }
    }
  }
}
