{
  "root": true,
  "extends": ["@react-native-community", "prettier"],
  "plugins": ["import"],
  "rules": {
    "no-await-in-loop": 2,
    "import/no-unresolved": 0,
    "no-underscore-dangle": 0,
    "react/prop-types": 2
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "navigation": "./src/navigation",
          "screens": "./src/screens",
          "storybook": "./src/storybook"
        },
        "extensions": [".js", ".native.js"]
      }
    }
  }
}
